.chat{
    width: 100%;
}

.teacher-msg{
   align-items: flex-start;
    background-color: var(--blue-2);
    color:var(--white-1);
}

.parent-msg{
   
   
    background-color: var(--aqua-2);
    color:var(--white-1);
}