.head {
    height: 100px;
    width: 100%;
    background-color: var(--blue-2);
    color:var(--white-1);
    box-sizing: border-box;
    padding: 20px ;
    display: flex;
    justify-content:left;
    align-items: center;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
}


.head i{
    margin-right: 10px;
}