.title{
    padding: 10px;
}

.report-form{
    margin-top: 10px;
}

.f2{
   
    width: 100%;
    
}

.f2 input{
    width: 70%;
}





.ta-msg{
 width: 100%;
}

.ta{
    width: 90vw;
    height: 50vh;
}

.field{
    margin: 15px 0;
}