<div>

    <div class="photo-bg">

     

        <div class="img-cont">
            <img class="fotoAlumno">
        </div>
        
    </div>
    <div class="line"></div>
    <form>
        <div class="txt-c">
            <h3>Nombre del alumno</h3>
        </div>
        <br>
        <div class="flex-sa icons">
            <i class="fa-solid fa-clipboard-list " ></i>
            <i class="fa-solid fa-file-waveform " ></i>
            <i class="fa-solid fa-comments " ></i>
        </div>
        <div class="flex-col">
            <div>
                <img class="imaegen">
            </div>
            <div class="txt-c flex-col">
                <p>Nombre</p>
                <input type="text">
            </div>
            <div class="txt-c flex-col">
                <p>Apellido Paterno</p>
                <input type="text">
            </div>
            <div class="txt-c flex-col">
                <p>Apellido Materno</p>
                <input type="text">
            </div>
            <div class="txt-c flex-col">
                <p>Grado</p>
                <input type="text">
            </div>
            <div class="txt-c flex-col">
                <p>Grupo</p>
                <input type="text">
            </div>
            <div style="margin-top: 15px;">
                <button class="btn-aqua">Guardar</button>
            </div>
            <div style="margin-top: 15px;">
                <button class="btn-aqua">Eliminar</button>
            </div>
            
        </div>
    </form>
    <br>
    <br>
    
    
   
</div>
